body{
    font-family: 'Sen';
}
/* ---------------------NAVIGATION-------------------------- */
nav{
    border-bottom: 5px solid rgba(46, 46, 143, 0.597);  
    background-color:white;
    font-family: 'Sen' , sans-serif;   
}

#logo{
    font-size:30px;
    color:rgb(46, 46, 143);
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    text-decoration: none;
}

 .nav-list a{
    text-decoration: none;
    display: block;
    color: rgba(46, 46, 143, 0.597);
    padding:10px;
    margin-bottom:10px;
    font-size:20px;
}

nav a:hover{
    color: rgb(46, 46, 143);
    color:black;
    
}

.nav-list{
    list-style-type: none;
    padding:0;
    margin:0;
    display: inline;
}


.nav-list li{
    display: inline-block;
    color:rgb(46, 46, 143);
    
}

nav input{
    padding: 6px;
  border: 2px solid rgba(101, 101, 202,0.5);
  border-radius:5px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;        
}

nav input:hover{
    border:2px solid rgb(46, 46, 143);
}

/* -----------------------INFORMATION SECTION --------------------------- */

#introduction{
    
    background-image: url("img/monede.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom:100px;
    background-color:rgba(101, 101, 202,0.4);
    
}

#info{
    color:white;
    text-align: center;
    padding-top: 25px; 
}

#info h1{
    font-size: 45px;
}

#info h3{
    font-size:20px;
}


#coin-shuffle img  {
    display: block;
    margin:auto;
    padding-top:15px;
    max-width: 100%;
    height: auto;   
}

/* -----------------------------BADGE SECTION----------------------- */
#badge-section{
    margin-top:30px;
    
}

#badge-section .badge{
    text-align: center;
    border: 2px solid rgba(101, 101, 202,0.5);
    padding:15px;
    border-radius: 10px;
}

#badge-section .badge:hover{
    color:white;
    background-color:rgb(46, 46, 143);
}



/* -----------------FOOTER------------------ */

footer{
    
    margin-top:50px;
    
    background-color:rgb(28, 26, 26);
    align-content: center;
}

footer #logo, footer .nav-list a{
    color:white;
    font-size:17px;
    margin:auto 0;
}

footer .social-media {
    font-size: 20px;
    margin:auto 0;
    margin-right:20px;
    color:white;
    
}

footer .social-media i{
    padding:5px;
}

footer .social-media i:hover{
    color:rgb(46, 46, 143);
}

footer #logo:hover, footer .nav-list a:hover{
    text-decoration: underline;
}
 /* For mobile phones: */
 [class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-flex{
    display:flex!important;
}

.s-around{
    justify-content: space-around;
}

.s-between{
    justify-content: space-between!important;
}
.overlay{
    background-color:rgb(255, 255, 255,0.1);
    height:500px;
}

* {
    box-sizing: border-box;
  }